<h1>All Questions</h1><br>
<%= link_to "Submit a Question", new_question_path, class: 'btn btn-default' %>
<% @questions.each do |question| %>
  <h3><%= link_to question.title, question %></h3>
  <div class="media">
    <div class="media-body">
      <p class="media-heading">
        <%= question.body %>
      </p>
      <br><br>
    </div>
  </div>
<% end %>
