<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You are now following "<%= @post.title %>", you will be notified of all comments.  There is no way to EVER reverse that action which you have now done.  MUAH HA HA HA!!!  Not really, just kidding.  You can simply unfavorite "<%= @post.title %>" and you are good to go... for now.</h1>
  </body>
</html>
