<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<btn class="social-btn"><%= link_to "Follow me", "https://www.facebook.com/brandon.mills.98622", class: "social-btn" %></btn>
