<h1>All Posts</h1>
<p><%= link_to "Create a Post", new_post_path, class: 'btn btn-default' %> or <%= link_to "Submit a Question", new_question_path(@question), class: 'btn btn-default' %></p>
<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <div class="media">
    <div class="media-body">
      <p class="media-heading">
        <%= link_to post.body, post %>
      </p><br>
    </div>
  </div>
<% end %>
